<div class="container my-3">
  <div class="row">
    <div class="col-md-2" style="margin-top: 7.8rem">
      <app-categories></app-categories>
      <app-not-found
        [isVisible]="!products || !products.length"
        linkText="Temizle"
      ></app-not-found>
    </div>
    <div class="col-md-10">
      <app-search></app-search>
      <ul>
        <li *ngFor="let product of products">
          <a routerLink="/urun/{{ product.id }}">
            <img [src]="product.imageUrl" [alt]="product.name" />
            <div class="content">
              <div class="name">
                {{ product.name }}
              </div>
              <span class="favorite {{ product.favorite ? '' : 'not' }}">
                ❤
              </span>
              <div class="stars">
                <star-rating
                  [value]="product.stars"
                  [totalstars]="5"
                  checkedcolor="red"
                  uncheckedcolor="black"
                  size="22px"
                  [readonly]="true"
                ></star-rating>
              </div>
              <div class="product-item-footer">
                <div class="price">
                  <span>
                    {{ product.price + "₺" }}
                  </span>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
